
    body {
        font-family: 'Raleway', sans-serif;
        transition: background-color 0.3s, color 0.3s;
    }

    body.light-mode {
        background-color: #f7fafc;
        color: #2d3748;
    }

    body.dark-mode {
        background-color: #2d3748;
        color: #f7fafc;
    }

    .text-dark-mode {
        color: #161f25;
    }

    .text-light-mode {
        color: #2d3748;
    }

    header.light-mode {
        background-color: #48bb78;
        color: #ffffff;
    }

    header.dark-mode {
        background-color: #2c7a7b;
        color: #ffffff;
    }

    .bg-white.light-mode {
        background-color: #ffffff;
    }

    .bg-white.dark-mode {
        background-color: #181a27;
    }

    .text-gray-700.light-mode {
        color: #4a5568;
    }

    .text-gray-700.dark-mode {
        color: #3e5b9f;
    }


    .text-center.light-mode p,
    .text-center.dark-mode p {
        color: inherit;
    }

    .bg-green-600.light-mode {
        background-color: #48bb78;
    }

    .bg-green-600.dark-mode {
        background-color: #2f855a;
    }

    /* **Joke styles** */
    #joke1,
    #joke2 {
        transition: color 0.3s;
    }

    body.light-mode #joke1,
    body.light-mode #joke2 {
        color: #152135;
    }

    body.dark-mode #joke1,
    body.dark-mode #joke2 {
        color: #192d3b;
    }



/* **Modal styles** */

/* Light Mode */
.modal {
    /* background-color: #ffffff; /* White background */ 
    color: #000000; /* Black text */
  }
  
  .modal-content {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
  }
  
  /* Dark Mode */
  body.dark-mode .modal .fil .cat{
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  }
  
  body.dark-mode .modal-content {
    background-color: #1f2937; /* Dark background */
    color: #e5e7eb; /* Light text */
  }
  